<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace为对应的Mapper接口的包名-->
<mapper namespace="com.example.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
<!--动态拼接sql语句，如果userId != 0 则拼接if中的查询语句-->
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        <!--当数据量过大时，此处需要进行limit优化-->
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <!--动态拼接sql语句，如果userId != 0 则拼接if中的查询语句-->
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
</mapper>